.container {
  width: 100%;
  background: #000;
  color: white;
  height: 20em;
}

.wrapper {
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 2em;
  padding: 2em;
}
