.navContainer {
  padding-top: 1.2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  background: #000;
  font-size: 1.2em;
  height: 13vh;
  color: white;
}

.navbar {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.rightNav {
  display: none;
}

.logo {
  margin-top: 0.6em;
}

.burger {
  margin-right: 0;
  margin-top: 0.6em;
  display: grid;
  justify-items: right;
}

.burgerLines {
  height: .5em;
  width: 1.5em;
  color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-right: 0;
}